@use './vars' as vars;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

a,
a:link,
a:hover,
a:visited {
  color: blue;
  font-size: inherit;
  border-radius: 5px;
  padding: 0.2rem;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: vars.$body-bgc;
}

.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  & > * {
    margin-top: 1.5rem;
  }
}

.login-form-container,
.signup-form-container {
  border-radius: 20px;
  box-shadow: 4px 4px 2px black;
  width: 80%;
  max-width: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    margin-top: 1rem;
  }
}

.login-form-container {
  background-color: vars.$login-bgc;
}

.signup-form-container {
  background-color: vars.$signup-bgc;
}

.signup-page1 {
}
.signup-page2 {
  display: none;
}
.signup-page3 {
  display: none;
}

form {
  width: 80%;
  button {
    margin-top: 0.5rem;
    width: 50%;
    background-color: rgb(81, 132, 228);
    color: white;
    outline: none;
    border-radius: 6px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  & > * {
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 6px;
    font-size: inherit;
    height: 2rem;
  }
  button {
    width: 50%;
    margin-top: 1rem;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  & > div {
    width: 100%;
    font-size: inherit;
  }
  & > div > * {
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 6px;
    font-size: inherit;
    height: 2rem;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  button {
    font-size: inherit;
  }

  // button:first-child {
  //   margin-right: 1rem;
  // }
  button:disabled {
    background-color: rgba(81, 132, 228, 0.5);
    text-decoration: line-through;
    cursor: not-allowed;
  }
}

.password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  & > * {
    height: 100%;
    border-radius: 4px;
  }
  img {
    border: 2px solid darkblue;
    position: relative;
    z-index: 1;
    cursor: progress;
  }
  input {
    // border-right: none;
    width: 100%;
  }
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: progress;
  position: relative;
  counter-reset: steps;
  width: 80%;
  max-width: 400px;
  height: 60px;
  div {
    border: 1px solid grey;
  }

  .step {
    width: vars.$step-dia;
    line-height: vars.$step-dia;
    height: vars.$step-dia;
    border-radius: 100%;
    text-align: center;
  }
  .step:first-child {
    position: relative;
    right: vars.$step-dia / 2;
  }
  .step:last-child {
    position: relative;
    left: vars.$step-dia / 2;
  }
  .progress-line {
    width: 30%;
    position: relative;
  }
  .progress-line:nth-child(2) {
    right: vars.$step-dia / 4;
  }
  .progress-line:nth-child(4) {
    left: vars.$step-dia / 4;
  }

  .step.active,
  .progress-line.active {
    background-color: greenyellow;
    border: 1px solid greenyellow;
  }
}
.first-step {
}

.second-step {
}

.final-step {
}

@media only screen and (min-width: 700px) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }
}
