@use './vars' as vars;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1rem;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: vars.$body-bgc;
}

.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 5rem;
  & > * {
    margin-top: 0.5rem;
  }
}

.login-form-container,
.signup-form-container {
  border-radius: 20px;
  box-shadow: 4px 4px 2px black;
  width: 80%;
  max-width: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > * {
    margin-top: 0.4rem;
  }
}

.login-form-container {
  background-color: vars.$login-bgc;
}

.signup-form-container {
  background-color: vars.$signup-bgc;
}

.signup-page1 {
}
.signup-page2 {
  display: none;
}
.signup-page3 {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.4rem;
  & > * {
    width: 100%;
    margin-top: 0.2rem;
    border-radius: 6px;
    font-size: inherit;
    height: 2rem;
  }

  button {
    margin-top: 0.5rem;
    width: 50%;
    background-color: rgb(81, 132, 228);
    color: white;
    outline: none;
    border-radius: 6px;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: inherit;

  button {
    font-size: inherit;
  }

  button:disabled {
    background-color: rgba(81, 132, 228, 0.5);
  }
}

.password-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  & > * {
    height: 100%;
    border-radius: 4px;
  }
  img {
    border: 2px solid darkblue;
    position: relative;
    z-index: 1;
  }
  input {
    // border-right: none;
    width: 100%;
  }
}

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1rem auto;
  height: 10px;
  background-color: white;
  width: 50%;

  & > span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
    padding: 0.2rem;
    span {
      margin: 0 auto;
      font-size: 1.5rem;
    }
  }
}

.first-step {
  .progress-bar > span:first-child {
    background-color: rgb(171, 255, 46);
  }
}

.second-step {
  .progress-bar {
    background: linear-gradient(
      to right,
      rgb(171, 255, 46),
      rgb(171, 255, 46) 50%,
      white 50%,
      white 100%
    );
    & > span:nth-child(-n + 2) {
      background-color: rgb(171, 255, 46);
    }
  }
}

.final-step {
  .progress-bar {
    background-color: rgb(171, 255, 46);

    & > span {
      background-color: rgb(171, 255, 46);
    }
  }
}

@media only screen and (min-width: 700px) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }
}
